// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i');

// Colors
$color-red: #d24648;
$color-gray-e: #eeeeee;
$color-gray-d: #dddddd;
$color-white: #ffffff;
$color-text: #242424;
$color-black: #000000;
$color-light-gray: #f2f2f2;
$color-lighter-gray: #f7f7f7;